* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgba(15, 14, 14, 0.618);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}

.nav h1 {
    font-size: 50px;
    padding-left: 50px;
    padding-top: 20px;
    font-weight: bold;
    color: azure;
    text-shadow: 2px 2px 3px rgb(14, 14, 14);
}

.nav ul {
    display: flex;
}

.nav ul li {
    /* list-style: none; */
    display: inline-block;
}

.nav ul li a {
    text-shadow: 2px 2px 3px rgb(14, 14, 14);
    padding-right: 90px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.nav ul li a:hover {
    color: rgb(149, 236, 135);
}

.quotes {
    display: block;
    width: 40%;
    padding-left: 100px;
}

.quotes .head {
    font-size: 50px;
    color: aliceblue;
    font-style: normal;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgb(14, 14, 14);
}

.quotes .para {
    font-size: 25px;
    color: white;
    font-style: unset;
    text-shadow: 2px 2px 3px rgb(14, 14, 14);
}
.riyan{
    display: block;
    float: right;
    padding-right: 150px;
}
.riyan img{
    border-color:2px solid red;
    width: 500px;
    height: 650px;
    box-shadow: 3px 8px 12px black;
    border-radius: 5px;
}

.input {
    display: flex;
    align-items: center;
    padding-left: 60px;

}

.button {
    height: 44px;
    border: none;
    margin-left: 40px;
}

#email {
    width: 300px;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}

#submit {
    width: 150px;
    height: 46px;
    background:  rgb(79, 228, 56);
    font-family: inherit;
    font-weight: bold;
    color: rgb(12, 12, 12);
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: 0px;
}
.icons{
    padding-left: 60px;
    padding-top: 40px;
}
.icons img{
    cursor:pointer;
    margin-left: 50px;
}
