* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgba(15, 14, 14, 0.618);
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    color:chartreuse;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    text-shadow: 2px 2px 3px black;
    font-size: 40px;
}
p{
    text-shadow: 2px 2px 3px black;
    color:beige;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 19px;
}
.element{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.element img{
    width: 400px; 
    height: 400px; 
    margin-right: 2%;
    box-shadow: 1px 2px 3px rgb(17, 17, 17);
    border-radius: 20px;
    border: 2px solid greenyellow;
}
.sub{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 190px;
    text-shadow: 2px 2px 3px black;
    
}